body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #273238;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color:  #477AE4;
}
.sidebar-nav li:nth-child(3):before {
    background-color:  #477DE2;
}
.sidebar-nav li:nth-child(4):before {
    background-color:  #4880E1;
}
.sidebar-nav li:nth-child(5):before {
    background-color:  #4883DF;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #4886DE;
}
.sidebar-nav li:nth-child(7):before {
    background-color:  #4889DC;
}
.sidebar-nav li:nth-child(8):before {
    background-color:  #488CDB;
}
.sidebar-nav li:nth-child(9):before {
    background-color:  #498FD9;
}
.sidebar-nav li:nth-child(10):before {
    background-color:  #498FD9;
}
.sidebar-nav li:nth-child(11):before {
    background-color:  #498FD9;
}
.sidebar-nav li:nth-child(12):before {
    background-color:  #498FD9;
}
.sidebar-nav li:nth-child(13):before {
    background-color:  #498FD9;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.rcorners {
    border-radius: 30px;
    background: #CFD8DD;
    width: 230px;
    height: 260px; 
    text-align: center;
    padding: 20px;
} 

.dbotaoAzul {
    border-radius: 50px;
    background: linear-gradient(to right, #4cb7c5 0%, #4777e6 100%);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: bold;
    color:white;
    padding: 20px;
    width: 180px;
    height: 60px; 
    text-align: center;
    display: block;
}

.dbotaoLaranja {
    border-radius: 50px;
    background: linear-gradient(to right, #ffa315 0%, #ff1501 100%);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: bold;
    color:white;
    padding: 20px;
    width: 180px;
    height: 60px; 
    text-align: center;
    display: block;
}

.dbotaoRosa {
    border-radius: 50px;
    background: linear-gradient(to right, #fe6895 0%, #d50237 100%);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: bold;
    color:white;
    padding: 20px;
    width: 180px;
    height: 60px; 
    text-align: center;
    display: block;
}

.dbotaoVerde {
    border-radius: 50px;
    background: linear-gradient(to right, #9afda0 0%, #06827e 100%);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: bold;
    color:white;
    padding: 20px;
    width: 180px;
    height: 60px; 
    text-align: center;
    display: block;
}

.dbotaoPadrao{
    border-radius: 50px !important;
    border:1px solid black !important;
    background: whitesmoke !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: black !important;
    padding: 10px !important;
    height: 40px !important;
    text-align: center !important;
    display: block !important;
    float:left !important;
}

.dbotaoPadraoIcon{
    background-repeat: no-repeat !important;
    background-size: 14px 14px !important;
    background-position-y: 12px !important;
    background-position-x: 12px !important;
    border-radius: 50px !important;
    border:1px solid black !important;
    background-color: whitesmoke !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: black !important;
    padding: 10px 10px 10px 20px!important;
    height: 40px !important;
    text-align: center !important;
    display: block !important;
    float:left !important;
}

.dbotaoPadraoIcon span.ui-button-icon-left{
    display: none;
}

.dbotaoDark{
    border-radius: 50px;
    border:1px solid dimgray;
    background: dimgrey;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: whitesmoke;
    padding: 10px;
    height: 40px; 
    text-align: center;
    display: block;
    text-shadow: none;
}



a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.shadow {
    -moz-box-shadow:    1px 1px 1px 1px #B2B2B2;
    -webkit-box-shadow: 1px 1px 1px 1px #B2B2B2;
    box-shadow:         1px 1px 1px 1px #B2B2B2;
}

.inputStyle{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 40px;
    font-size: 15px !important;
    padding-left: 20px !important;
    background-color: #b0bfc6;
    border-color: #b0bfc6;
}

.ui-radiobutton-box{
    border-color: black;
}

.ui-selectoneradio label {
    display: block;
    margin-top: 0px;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
}

.ui-selectonemenu{
    padding-right: 0px !important;
    border: none;
    background: transparent;
}

.ui-selectcheckboxmenu{
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
    height: 40px !important;
    font-size: 15px !important;
    padding-left: 20px !important;
    background-color: #b0bfc6 !important;
    border-color: #b0bfc6 !important;
    background: transparent;
}

.ui-selectonemenu-trigger{
    display: none !important;
}

.ui-button-text {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.ui-state-hover{
    background: transparent;
}

.ui-selectcheckboxmenu-trigger{
    display: none !important;
}

.ui-inputfield{
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
    height: 40px !important;
    font-size: 15px !important;
    padding-left: 20px !important;
    background-color: #b0bfc6 !important;
    border-color: #b0bfc6 !important;
}

.hasDatepicker{
    width: 100%;
}

.rowMarginBotton{
    margin-bottom: 15px;
}

.botaoPadrao{
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
    height: 40px;
    padding: 5px 20px !important;
}

.alert{
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
}

.painelCentral{
    margin-left: 10px;
    margin-right: 50px;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
    background: #CFD8DD;
}

.ui-sortable-column-icon{
    background-image: url("/sgeda/faces/resource/imagens/sortarrows.png")!important;
    background-position: 0px;
}

.ui-datatable-even {
    background-color: whitesmoke  !important;
}
.ui-datatable-odd {
    background-color: #e6e6e6  !important;
}

.ui-sortable-column , .ui-datatable thead th{
    background-image: none !important;
    background-color: whitesmoke !important;
    color: black !important;
    text-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}


.ui-paginator.ui-paginator-bottom {
    background-image: none !important;
    background-color: transparent !important;
    color: black !important;
    text-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;

}

.ui-state-active{
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
    color: black !important;
    background-color: grey !important;
    border-color: black !important;

}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev{
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
    color: black !important;
    background-color: whitesmoke !important;
    border-color: black !important;
}

.ui-icon-seek-prev{
    background-image: url("/sgeda/faces/resource/imagens/arrow-pointing-to-left.png")!important;
    background-position: 0px;
    background-repeat: no-repeat !important;
}

.ui-icon-seek-next{
    background-image: url("/sgeda/faces/resource/imagens/arrow-pointing-to-right.png")!important;
    background-position: 0px;
    background-repeat: no-repeat !important;
}

.ui-datatable table{
    border: none; border-collapse: collapse !important;
}

.ui-datatable table td{
    border-left: 1px solid #000 !important;
    border-right: 0 !important;
}

.ui-datatable table td:first-child { border-left: none !important; }

.ui-widget-content {
    border: 0px solid black !important;
}

.tabelaWrapper {
    background-color: whitesmoke !important;
    display:table !important;
    padding:2px !important;
    border-radius:5px !important;
    border:1px solid #999 !important;
}

.ui-fileupload-buttonbar{
background: none !important;
border: none !important;
}

.ui-fileupload-choose{
    border-radius: 50px !important;
    border:1px solid black !important;
    background: whitesmoke !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: black !important;
    padding: 11px !important;
    height: 40px !important;
    text-align: center !important;
    display: block !important;
    width: 115px !important;
}

.table-bordered {
    border: 0px solid #ddd !important;
}

.ui-tabs-nav {
    background: transparent !important;
    border: none !important;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected{
    border-radius: 0px !important;
    background: none !important;
    border-bottom: 1px solid #000 !important;
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{
        color: black !important;
    text-shadow: none !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav li {
    border-radius: 0px !important;
    background: none !important;
    border: none !important;
}

.transparentHeader > .ui-dialog-titlebar {
    background: transparent !important;
}

.label-info {
    background-color: #1b3768 !important;
}