<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sgeda?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <mapping class="entidade.Pessoa"/>
    <mapping class="entidade.Questao"/>
    <mapping class="entidade.Curso"/>
    <mapping class="entidade.TurmaAlunoId"/>
    <mapping class="entidade.Telefone"/>
    <mapping class="entidade.TurmaSimuladoId"/>
    <mapping class="entidade.Aluno"/>
    <mapping class="entidade.Endereco"/>
    <mapping class="entidade.TurmaSimulado"/>
    <mapping class="entidade.Professor"/>
    <mapping class="entidade.SimuladoQuestao"/>
    <mapping class="entidade.TurmaAluno"/>
    <mapping class="entidade.Turma"/>
    <mapping class="entidade.Objetiva"/>
    <mapping class="entidade.Figura"/>
    <mapping class="entidade.Disciplina"/>
    <mapping class="entidade.Funcionario"/>
    <mapping class="entidade.Discursiva"/>
    <mapping class="entidade.AlunoSimulado"/>
    <mapping class="entidade.Resposta"/>
    <mapping class="entidade.Subdisciplina"/>
    <mapping class="entidade.Grupo"/>
    <mapping class="entidade.Redacao"/>
    <mapping class="entidade.AlunoSimuladoId"/>
    <mapping class="entidade.Usuario"/>
    <mapping class="entidade.Papel"/>
    <mapping class="entidade.Opcao"/>
    <mapping class="entidade.SimuladoQuestaoId"/>
    <mapping class="entidade.Simulado"/>
    <mapping class="entidade.Foto"/>
  </session-factory>
</hibernate-configuration>
