<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://cursoidealizar.acessotemporario.net:3306/kemdixip_sgeda?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">kemdixip_root</property>
    <property name="hibernate.connection.password">padaria123</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.max_fetch_depth">3</property>
    <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.acquire_increment">2</property>
    <property name="hibernate.c3p0.idle_test_period">300</property>
    <property name="hibernate.c3p0.timeout">1800</property>
    <property name="hibernate.c3p0.max_size">25</property>
    <property name="hibernate.c3p0.min_size" >3</property>
    <property name="hibernate.c3p0.max_statement">0</property>
    <property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
    <property name="hibernate.c3p0.validate">true</property>
    <mapping class="entidade.Pessoa"/>
    <mapping class="entidade.Questao"/>
    <mapping class="entidade.Curso"/>
    <mapping class="entidade.TurmaAlunoId"/>
    <mapping class="entidade.Telefone"/>
    <mapping class="entidade.TurmaSimuladoId"/>
    <mapping class="entidade.Aluno"/>
    <mapping class="entidade.Endereco"/>
    <mapping class="entidade.TurmaSimulado"/>
    <mapping class="entidade.Professor"/>
    <mapping class="entidade.SimuladoQuestao"/>
    <mapping class="entidade.TurmaAluno"/>
    <mapping class="entidade.Turma"/>
    <mapping class="entidade.Objetiva"/>
    <mapping class="entidade.Figura"/>
    <mapping class="entidade.Disciplina"/>
    <mapping class="entidade.Funcionario"/>
    <mapping class="entidade.Discursiva"/>
    <mapping class="entidade.AlunoSimulado"/>
    <mapping class="entidade.Resposta"/>
    <mapping class="entidade.Subdisciplina"/>
    <mapping class="entidade.Grupo"/>
    <mapping class="entidade.Redacao"/>
    <mapping class="entidade.AlunoSimuladoId"/>
    <mapping class="entidade.Usuario"/>
    <mapping class="entidade.Papel"/>
    <mapping class="entidade.Opcao"/>
    <mapping class="entidade.SimuladoQuestaoId"/>
    <mapping class="entidade.Simulado"/>
    <mapping class="entidade.Foto"/>
  </session-factory>
</hibernate-configuration>
